log4j.rootLogger={{default .Env.DEFAULT_LOG_LEVEL "WARN"}}, stdout

# Direct log messages to stdout
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.Target=System.out
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n

log4j.logger.org.hisp.dhis={{default .Env.DHIS_LOG_LEVEL "WARN"}}
log4j.logger.org.hisp.dhis.system.startup=info       
log4j.logger.com.hazelcast={{default .Env.HAZELCAST_LOG_LEVEL "WARN"}}
log4j.logger.org.springframework.web={{default .Env.SPRING_LOG_LEVEL "WARN"}}

log4j.logger.org.springframework.web={{default .Env.SPRING_LOG_LEVEL "WARN"}}
log4j.logger.org.hibernate={{default .Env.HIBERNATE_LOG_LEVEL "ERROR"}}